@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1>
        <title>Badminton Scorer</title>
    </h1>
    <body>
        <h1>Welcome to Badminton Scorer</h1>
        <nav>
            <ul>
                <li><a href="fixtures.cshtml">Fixtures</a></li>
                <li><a href="ongoing-matches.cshtml">Ongoing Matches</a></li>
                <li><a href="upcoming-matches.cshtml">Upcoming Matches</a></li>
                <li><a href="team-standings.cshtml">Team Standings</a></li>
            </ul>
        </nav>
    </body>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
